<%- include('../partials/header') %>
  <p>views/players/index</P>

  <% players.forEach(player => { %>
    <ul>
      <li>
        <a href="players/<%=player._id%>"><%=player.name%></a>
      </li> 
    </ul>
  
  

    
    <% });   %>
    
    <a href="players/new">Add new player</a>


<%- include('../partials/footer') %>