<%- include('../partials/header') %>
  <p>views/players/index</P>

  <% players.forEach(player => { %>
    <ul>
      <li> <%=player.name%></li> 

    </ul>
  
  

    
    <% });   %>
    
    <a href="players/new">Add new player</a>


<%- include('../partials/footer') %>