<%- include('./partials/header') %>

<h1>Homepage</h1>
<h4>In this game, you have the opportunity to create your own dream team of players and customize their attributes to build a strong and formidable squad. You can select players from a vast pool of available options and personalize their characteristics to suit your strategy and playing style.

  Player Attributes:
  
      Name: Each player has a unique name, allowing you to identify them easily.
      Foot: You can choose whether a player is left-footed or right-footed, influencing their preferred side for passing, shooting, and dribbling.
      Number: Assign a specific jersey number to each player, allowing them to stand out on the field.
      Rating: Customize the player's rating or skill level, indicating their overall abilities and performance potential.</h4>


<%- include('./partials/footer') %>