<%- include('./partials/header') %>

<h1>Homepage</h1>

<div id="homepage">


  
</div>


<div class="body-modal">
  <div class="button-container">
    <button class="modal-buttons" id="openModal">About the Game</button>
  </div>
  <div id="modal">
    <div id="modal-textbox">
      <h1>How to play Football-FullStack</h1>
      <p>In this game, you have the opportunity to create your own dream team of players and customize their attributes to build a strong and formidable squad. You can select players from a vast pool of available options and personalize their characteristics to suit your strategy and playing style.
        Player Attributes:
        Name: Each player has a unique name, allowing you to identify them easily.
        Foot: You can choose whether a player is left-footed or right-footed, influencing their preferred side for passing, shooting, and dribbling.
        Number: Assign a specific jersey number to each player, allowing them to stand out on the field.
        Rating: Customize the player's rating or skill level, indicating their overall abilities and performance potential.</p>
      <div id="modal-footer">
        <button class="modal-buttons" id="close" href="#">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Grabbing Elements
    const openBtn = document.getElementById('openModal');
    const modal = document.getElementById('modal');
    const closeBtn = document.getElementById('close');

    // Event Handlers
    const openModal = () => {
      modal.style.display = 'block';
    };

    const closeModal = () => {
      modal.style.display = 'none';
    };

    // Event Listeners
    openBtn.addEventListener('click', function() {
      setTimeout(openModal, 1000);
    });

    closeBtn.addEventListener('click', closeModal);
  });
</script>



<%- include('./partials/footer') %>